body{
    background-color:rgb(203, 215, 233);
    font-family: "Dela Gothic One", sans-serif;
}
h1{
    color:rgb(6, 6, 130);
}
p{
    color: rgb(62, 11, 179);
    font-family: "Josefin Sans", sans-serif;
    font-size: 100%;
}
img{
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  